.page-header
  .container_auto
    .site-logo=link_to '思维导图','/',:class=>'logo daotu'

    -if logged_in?

      -user = current_user
      -user_name = user.name
      -homepage_url = "/users/#{user.id}"

      .nav-menu
        %a{:href=>homepage_url, :class=>'ali user-name'} <div class="icon"></div><span>#{user_name}</span>

        %a{:href=>'/account', :class=>'setting', :tip=>'设置'} <div class="icon"></div><span>设置</span>
        %a{:href=>'/logout',  :class=>'logout',  :tip=>'退出'} <div class="icon"></div><span>退出</span>