-#use 用户设置导航
-#see 用户设置

.page-account-links
  =account_setting_link "基本信息","/account","base"
  =account_setting_link "修改头像","/account/avatared","avatared"

.page-account-split{:style=>'height:3px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;margin-bottom:10px;'}
